<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title mode="md">
      <span>Home</span>
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-banner [slides]="slides"></app-banner>

  <ion-list>
    <ion-list-header>
      <ion-label>
        <h4>Restaurants Nearby</h4>
        <p>Discover unique tastes near you</p>
      </ion-label>
    </ion-list-header>
    <ion-item-group>
      <app-restaurant
      *ngFor="let restaurant of restaurants"
      [restaurant]="restaurant"
      ></app-restaurant>
    </ion-item-group>
  </ion-list>
</ion-content>

